# =============================================================================
# Archivos específicos del sistema operativo
# =============================================================================
.DS_Store
Thumbs.db

# =============================================================================
# Archivos de IDE y editores
# =============================================================================
.vscode/

# =============================================================================
# Entornos virtuales y dependencias de Python
# =============================================================================
.venv/
venv/
ENV/

# =============================================================================
# Archivos de caché y compilados de Python
# =============================================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================================================================
# Distribución / Empaquetado de Python
# =============================================================================
build/
dist/
*.egg-info/

# =============================================================================
# Artefactos de Pruebas (Testing)
# =============================================================================
.pytest_cache/
.coverage

# =============================================================================
# Archivos de entorno
# =============================================================================
.env

# =============================================================================
# Cuadernos de Jupyter
# =============================================================================
.ipynb_checkpoints/

# =============================================================================
# Archivos de datos generados
# =============================================================================
data/interim/
data/processed/
data/ 

# =============================================================================
# Artefactos y reportes generados
# =============================================================================
artifacts/
reports/figures/
reports/tables/

# =============================================================================
# Documentos y presentaciones
# =============================================================================
class_notebooks/
presentations/
topics/
tareas/
*pdf
